<!DOCTYPE html>
<html>
  <head>
  	<!---<link href = "style.css" type="text/css" rel = "stylesheet" >
  	<meta charset="utf8" /> --->
  	
  	<style>
  	  	body{background: skyblue; font-family: cursive; color: #fff; padding: 30px;}
		h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
		p{font-size: 16px; text-align: center;}

  	  
  	</style>
  </head>
  <body>
  	<h1>404 oops!</h1>
  	<p>You've typed a wrong url,you cant fuck with us FUCK OFF!</p>
  </body>
 </html>
