<link href='/assets/nstyle.css' type='text/css' rel='stylesheet'>
<body>
<center>
    <div id="navbar">
        <div class="di"><a href="/qapp/<%= name.name %>/followers" class="all" id="a">Followers</a></div>
        <div class="di"><a  href="/qapp/<%= name.name %>/following" class="all" id="b">Following</a></div>
        <div class="di"><a href="/qapp/<%= name.name %>/ask" class="all" id="c">Ask</a></div>
    <div class="di"><a href="/qapp/<%= name.name %>/" class="all" id="d">Feed</a></div>
</div>
</center>   
</body>

