<!DOCTYPE html>
<html>
  <head>
      <!---<link href = "style.css" type="text/css" rel = "stylesheet" >
      <meta charset="utf8" /> --->
      
      <style>
            body{background: skyblue; font-family: cursive; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
    a{font-size: 20px; color : #fff; text-decoration: none;}
    a:hover {
      color : lightgray; 
      text-decoration: none;
      font-weight: bold;
    }
    .newUser{
      border: 3px solid #f1f1f1;
      margin-left: 25%;
      width: 50%;
    }
    .already{
      border: 3px solid #f1f1f1;
      margin-left: 25%;
      width: 50%;
    }
    </style>
  </head>
  <body>
      <h1>Hold Right Sparky!!!</h1>
    <h1>You're not logged in<h1>
      <br>
    <div class="newUser">
      <h5>New User ?</h5>
      <a href="/signup">SIGNUP</a>
    </div>
    <br>
    <div class="already">
      <h5>Already a User?</h5>
      <a href="/login">LOGIN</a>
    </div>
  </body>
 </html>