@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
	background-size: cover;
	background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0)), url(/assets/library.jpg);
}

h1{
	
	opacity: 1;
	font-family: Lobster;
	font-size: 73px;

}
.main{

	opacity: 1;
	text-align: center;
  	height: 820px;

  	opacity:0.75;

}

p{
	opacity: 1;
	font-family: Lobster;
	font-size: 50px;	
}

a{
	opacity: 1;
	text-decoration: none;
	font-size: 30px;
	font-family: Lobster;
	color: blue;
}

a:hover {color: red; font-weight: bold;}


