body
{
    margin: 0;
    border: 0px;
}
#navbar
{
    width:100%;
    height: 85px;
    background-color: red;
    color: white;
    position: fixed;
    top:0px;
} 
.di
{
    background-color:black;
    width:25%;
    float: left;
    height: 70px;
}

 .all
 {
     padding-top: 10px;
     padding-left: 100px;
     font-size:40px;
     margin-left:0;
     float: left;
     width:25%;
     color:white;
     text-decoration: none;
 }

 .all:hover
 {
    font-weight: bold; 
    color:white;
    text-decoration: none;
 }

 /* #a
 {
     width: 50%;
     height:70px;
 } */ 